<div class="todo-container">
  <h2 class="mb-10">Todo App</h2>

  <input type="text" [(ngModel)]="newTodoTitle" placeholder="New todo" (keyup.enter)="addTodo()" />
  <app-button (click)="addTodo()" text="Add" type="add-todo__button" [disabled]="!newTodoTitle.trim().length" />


  <ul>
    @for (todo of todos; track todo.id) {
    <div style="padding-top: 20px;display: flex;align-items: center;">
      <input type="checkbox" [(ngModel)]="todo.completed" />
      <span [class.completed]="todo.completed">{{ todo.title }}</span>
      <div class="button_group">
        <app-button (click)="editTodo(todo)" text="Edit" type="edit" />
        <app-button (click)="deleteTodo(todo.id)" text="Delete" type="delete" />
      </div>
    </div>
    }@empty {
    <li>No todos found</li>
    }
  </ul>

  @if (editingTodo) {
  <h3>Edit Todo</h3>
  <input type="text" [(ngModel)]="editingTodo.title" placeholder="Edit title" (keyup.enter)="updateTodo()" />
  <div class="button_group">
    <app-button (click)="updateTodo()" text="Update" type="update" />
    <app-button (click)="editingTodo = null" text="Cancel" type="cancel" />
  </div>
  }
</div>